In [176]:
import pandas as pd
import numpy as np

In [177]:
initial_fish = pd.read_csv("d6_lantern_fish.csv")

# # ### test_data
# initial_fish = pd.DataFrame({'day_0': [3, 4, 3, 1, 2]},
#                             columns=['day_0'])

initial_fish['num_fish'] = np.zeros(len(initial_fish))
initial_fish = initial_fish.groupby(['day_0']).count()
initial_fish.head()

       num_fish
day_0
1           145
2            39
3            53
4            33
5            30

In [178]:
fish_status_df = pd.DataFrame({'status': [0, 1, 2, 3, 4, 5, 6, 7, 8]},
                              columns=['status'])

In [181]:
initial_fish_status = pd.merge(fish_status_df,
                               initial_fish,
                               left_on='status',
                               right_on='day_0',
                               how='left')
initial_fish_status['num_fish'] = initial_fish_status['num_fish'].fillna(0)
initial_fish_status

   status  num_fish
0       0       0.0
1       1     145.0
2       2      39.0
3       3      53.0
4       4      33.0
5       5      30.0
6       6       0.0
7       7       0.0
8       8       0.0

In [186]:
current_day = initial_fish_status

In [187]:
def num_fish_next_day(df):
    new_df = df.copy()
    new_df.iloc[8,1] = df.iloc[0,1] ## 8 is the previous day's 1
    new_df.iloc[6,1] = df.iloc[0,1] + df.iloc[7,1] # previous day's status 0 and 7
    ## the previous days one less status
    new_df.iloc[7,1] = df.iloc[8,1]
    new_df.iloc[5,1] = df.iloc[6,1]
    new_df.iloc[4,1] = df.iloc[5,1]
    new_df.iloc[3,1] = df.iloc[4,1]
    new_df.iloc[2,1] = df.iloc[3,1]
    new_df.iloc[1,1] = df.iloc[2,1]
    new_df.iloc[0,1] = df.iloc[1,1]
    return new_df

In [188]:
for i in range(256):
    current_day = num_fish_next_day(current_day)

In [185]:
current_day

   status      num_fish
0       0  1.430941e+11
1       1  1.735968e+11
2       2  1.789484e+11
3       3  1.956634e+11
4       4  2.248073e+11
5       5  2.221913e+11
6       6  2.751793e+11
7       7  1.187881e+11
8       8  1.503080e+11

In [189]:
current_day['num_fish'].values.sum()

1682576647495.0